<h1>All articles</h1>

<div>
    <%= link_to 'Add new', new_article_path %>
    <section>
        <% @articles.each do |article| %>
            <article>
                <h3><%= link_to  article.title , article_path(article) %></h3>
                <h5><%= link_to 'Edit', edit_article_path(article) %></h5>
                <p>
                    <span>
                        <%= article.text %>
                    </span>
                </p>
            </article>
        <% end %>
    </section>
</div>
